
@font-face {
    font-family: vivoSansGlobal-Regular;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Medium;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Heavy;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Extrabold;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Extrabold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Bold;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Extralight;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Extralight.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Light;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vivoSansGlobal-Thin;
    src: url('/frontend/fonts/vivo/vivoSansGlobal-Thin.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.vivo_regular {
    font-family: 'vivoSansGlobal-Regular' !important;
}

.vivo_medium {
    font-family: 'vivoSansGlobal-Medium' !important;
}

.vivo_heavy {
    font-family: "vivoSansGlobal-Heavy" !important;
}

.vivo_extraBold {
    font-family: "vivoSansGlobal-Extrabold" !important;
}

.vivo_bold {
    font-family: "vivoSansGlobal-Bold" !important;
}

.vivo_extraLight {
    font-family: "vivoSansGlobal-Extralight" !important;
}

.vivo_light {
    font-family: "vivoSansGlobal-Light" !important;
}

.vivo_thin {
    font-family: "vivoSansGlobal-Thin" !important;
}

body {
	font-family: 'vivoSansGlobal-Regular' !important;
}

nav {
	background-color: white;
}

.navbar-collapse > .navbar-nav {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #000000;
    font-family: "vivoSansGlobal-Bold" !important;
}

li >.nav-item {
    font-size: 20px !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: #373737;
}

.nav-link {
    padding: .5rem 1.5rem;
}

.vivo-ipa-logo{
    margin-top: 80px;
    margin-left: 20px;
}

.bg-img-main-banner {
    background-image: url('/frontend/images/main-banner-desktop.png');
    min-height: 100vh; 
    background-size: cover; 
    background-position: center; 
}

@media (max-width: 992px) {
    .bg-img-main-banner {
        background-image: url('/frontend/images/main-banner-mobile.png');
        min-height: 100vh; 
        background-size: cover; 
        background-position: center; 
    }
}

.vivo-ipa-logo img{
    width:40%;
}

@media (max-width: 992px) {
    .vivo-ipa-logo{
        margin-left: 5px;
    }

    .vivo-ipa-logo img{
        width:70%;
    }
}

.inner {
    width: 20%;
    height: 0;
    margin: -5px auto;
    border-bottom: 9px solid white;
}

.bg-blue-gradient {
  background: rgb(2,0,36);    
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(59,59,128,1) 52%, rgba(0,212,255,1) 100%);
}

.bg-blue-gradient-90 {
    background: rgb(42, 144, 190);
    background: linear-gradient(90deg, rgba(42, 144, 190, 1) 0%, rgba(114, 216, 221, 1) 49%, rgba(42, 144, 190, 1) 100%);
}

.section-has-bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-has-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 79%);
}

.fs-how-to-desc {
    font-size: 26px;
}

.fs-desc-schedule {
    font-size: 30px;
}

@media (max-width: 992px) {
    .fs-how-to-desc {
        font-size: 20px;
    }

    .fs-desc-schedule{
        font-size: 23px;
    }
}

.btn-register {
    letter-spacing: 5px;
    border-color: none;
    background: rgb(42,144,190);
    background: linear-gradient(90deg, rgba(42,144,190,1) 0%, rgba(114,216,221,1) 49%, rgba(42,144,190,1) 100%);
}

.btn-register:hover {
    background: linear-gradient(90deg, rgb(53 173 227) 0%, rgba(114, 216, 221, 1) 49%, rgba(53 173 227, 1) 100%);
}


h2 {
    font-size: 70px;
}

@media (max-width: 992px) {
    h2 {
        font-size: 45px;
    }
}

h3 {
    font-size: 60px;
}

@media (max-width: 992px) {
    h3 {
        font-size: 35px;
    }
}

h3 {
    font-size: 40px;
}

@media (max-width: 992px) {
    h3 {
        font-size: 25px;
    }
}

.rounded-4 {
    border-radius: 1rem !important;
}

.img-tag {
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.img-wrapper {  
  width: auto;
  height: auto;
  overflow: hidden; 
  border-radius: 20px;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

.text-cat {
    font-size:16px;
}

@media (max-width: 992px) {
    .text-cat {
        font-size:12px;
    }
}

@media (max-width: 992px) {
    .p-col-mobile {
        padding: 0 5px !important;
    }
}

.p-col-mobile-desktop {
    padding:0 5px;
}

.fs-judge-title {
    font-size: 30px;
}

.fs-judge-desc {
    font-size: 17px;
} 

@media (max-width: 992px) {
    .fs-judge-title {
        font-size: 18px;
    }

    .fs-judge-desc {
        font-size: 12px;
    } 
}

.fs-prize-title {
    font-size: 50px;
}

@media (max-width: 992px) {
    .fs-prize-title {
        font-size: 20px;
    }
}

.bg-period {
    border-color: none;
    background: rgb(2,39,70);
    background: linear-gradient(0deg, rgba(2,39,70,1) 58%, rgba(14,85,109,1) 100%);
}

.fs-period-date {
    font-size: 30px;
}

.fs-period-desc {
    font-size: 15px;
    line-height: 18px;
}

@media (max-width: 992px) {
    .fs-period-date {
        font-size: 25px;
    }

    .fs-period-desc {
        font-size: 12px;
        line-height: 12px;
    }

}

.img-mechanism {
    width: 60%;
}

.fs-desc-mechanism {
    font-size: 18px;
    line-height: 23px;
}

@media (max-width: 992px) {

    .fs-desc-mechanism {
        font-size: 12px;
        line-height: 15px;
    }

}

.arrow-icon {
    top:50px; right:-25px; color: #167588;
}

.arrow-icon > svg {
    width: 48px;
    height: 48px;
}

@media (max-width: 992px) {
    .arrow-icon {
        top:30px; right:-25px; color: #167588;
    }

    .arrow-icon > svg {
        width: 36px;
        height: 36px;
    }
}


input::placeholder {
    font-family: "vivoSansGlobal-Thin" !important;
}

.form-control {
    background-color: transparent;
    border: solid 1.1px white;
    color: white;
    padding: 8px 8px;
}

.form-control:read-only {
    background-color: transparent; 
}

.input-group-text {
    padding: .3125rem 1rem;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}

svg.dz-photo-icon {
    color: #000000;
}

.data-details {
    width: 100%;
    border-top: 1px solid #e8ebf1;
    border-left: 1px solid #e8ebf1;
    border-right: 1px solid #e8ebf1;
    display: grid;
    grid-template-columns: 17fr 3fr;
    justify-content: center;
    align-items: center;
    min-height: 62px;
    background: white;

}

.dz-metadata {
    margin: 15px 0 15px 20px;
    width: 100%;

    .filename {
        font-size: 15px;
        color: black;   
    }

    .filesize {
        font-size: 12px;
        color: grey;
    }
}

.dz-remove-button {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    padding: 5px;
    transition: all 0.3s ease;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
}

.fs-term-condition {
    font-size: 40px;
    line-height: 40px;
}

.fs-title-registrasi_form {
    font-size: 40px;
}


@media (max-width: 992px) {
    .fs-term-condition {
        font-size: 35px;
        line-height: 35px;
    }
    .fs-title-registrasi_form {
        font-size: 35px;
        line-height: 35px;

    }
}

footer p {
    font-size: 12px;
}


.navbar-light .collapsed .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M3 7C3 6.44771 3.44772 6 4 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H4C3.44772 8 3 7.55229 3 7Z' fill='%23737373'%3E%3C/path%3E%3Cpath d='M3 14C3 13.4477 3.44772 13 4 13H24C24.5523 13 25 13.4477 25 14C25 14.5523 24.5523 15 24 15H4C3.44772 15 3 14.5523 3 14Z' fill='%23737373'%3E%3C/path%3E%3Cpath d='M4 20C3.44772 20 3 20.4477 3 21C3 21.5523 3.44772 22 4 22H24C24.5523 22 25 21.5523 25 21C25 20.4477 24.5523 20 24 20H4Z' fill='%23737373'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");}


.navbar-light .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 11.5C2 10.9477 2.44772 10.5 3 10.5L21 10.5C21.5523 10.5 22 10.9477 22 11.5V12.5C22 13.0523 21.5523 13.5 21 13.5H3C2.44772 13.5 2 13.0523 2 12.5V11.5Z' fill='%23737373'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
