
/* ---------------------------------------------
 * 1. Fonts
 * --------------------------------------------- */
@font-face {
  font-family: 'vivoSansGlobal-Regular';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Medium';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Heavy';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Heavy.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Extrabold';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Extrabold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Bold';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Extralight';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Extralight.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Light';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'vivoSansGlobal-Thin';
  src: url('/frontend/fonts/vivo/vivoSansGlobal-Thin.ttf');
  font-display: swap;
}

/* ---------------------------------------------
 * 2. Font Utility Classes
 * --------------------------------------------- */
.vivo_regular    { font-family: 'vivoSansGlobal-Regular' !important; }
.vivo_medium     { font-family: 'vivoSansGlobal-Medium' !important; }
.vivo_heavy      { font-family: 'vivoSansGlobal-Heavy' !important; }
.vivo_extraBold  { font-family: 'vivoSansGlobal-Extrabold' !important; }
.vivo_bold       { font-family: 'vivoSansGlobal-Bold' !important; }
.vivo_extraLight { font-family: 'vivoSansGlobal-Extralight' !important; }
.vivo_light      { font-family: 'vivoSansGlobal-Light' !important; }
.vivo_thin       { font-family: 'vivoSansGlobal-Thin' !important; }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'vivoSansGlobal-Regular' !important;
  background-color: black;
}

/* ---------------------------------------------
 * 3. Typography
 * --------------------------------------------- */
h2 { font-size: 45px; }
h3 { font-size: 40px; }
h6 { font-size: 16px; }

@media (max-width: 992px) {
  h2 { font-size: 30px; }
  h3 { font-size: 25px; }
  h6 { font-size: 15px; }
}

/* ---------------------------------------------
 * 4. Navbar
 * --------------------------------------------- */

nav {
    background: linear-gradient(to right, #000000 0%, #242933 75%);
}

.navbar-collapse > .navbar-nav {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
    font-weight: 800;
}

.navbar-nav li a{
    cursor: pointer;
}

li >.nav-item {
    font-size: 20px !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: transparent;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-link {
    padding: .5rem 1.5rem;
}

.vivo-ipa-logo{
    margin-top: 80px;
    margin-left: 20px;
}

.social-icons { 
  padding: 10px 0px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08); /* opsional, untuk kesan floating */
}

.main-banner {
  margin-top: 4.4rem !important;
  width: 100%;
  height: 100vh;
  background-image: url('/frontend/images/webp/hero-img-desktop.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  align-items: center; /* opsional: konten vertikal tengah */
  justify-content: center; /* opsional: konten horizontal tengah */
}

@media (max-width: 992px) {
    .main-banner {
        background-image: url('/frontend/images/webp/hero-img-mobile.webp');
        min-height: 100vh; 
        background-size: cover; 
        background-position: center; 
    }
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  top: 65vh;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 3px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


.vivo-ipa-logo img{
    width:40%;
}

@media (max-width: 992px) {
    .vivo-ipa-logo{
        margin-left: 5px;
    }

    .vivo-ipa-logo img{
        width:70%;
    }
}


/* Section About Us*/
.section-about-us {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.section-bg-image-about-us {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.section-about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.6) 60%, #000000 100%);
    z-index: 0;
}


/* Section Category*/
.section-category {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.section-bg-image-category {
    background-size: initial;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.section-category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.6) 90%, rgba(27, 27, 27, 1) 100%);*/
    background: linear-gradient(to top,
      rgba(20, 20, 20, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 0;
}

/* Section Judge */
.section-judge {
    height: 100%;
    background-color: #141414;
    background: linear-gradient(to top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(20, 20, 20, 1) 100%
    );
}

.panel-text-gradient {
  background: linear-gradient(to bottom, #242933 0%, #000000 100%);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem; 
}

.min-h-150 {
  min-height: 150px;
}
/* Section Prize */

.section-prize {
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(20, 20, 20, 0) 100%);
}

.box-prize {
  background: linear-gradient(to bottom, #242933 20%, #242933 50%, #000000 90%);    
  border-radius: 1.5rem;
  padding: 1rem;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-prize img {
  height: auto;
  display: block;
  margin: 0 auto;
}

.box-prize img.prize-1 {
  max-width: 30rem;
}

.box-prize img.prize-2 {
  max-width: 25rem;
}

@media (max-width: 992px) {
    .box-prize img.prize-1 {
      max-width: 18rem;
    }

    .box-prize img.prize-2 {
      max-width: 15rem;
    }

}

@media (max-width: 468px) {
    .box-prize img.prize-1 {
      max-width: 15rem;
    }

    .box-prize img.prize-2 {
      max-width: 12rem;
    }
}


/* Section PM*/
.section-pm {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.section-bg-image-pm {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.section-pm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0000008a 0%, rgb(0 0 0 / 0%) 100%, #000000 100%);
    z-index: 0;
}

.period-line-img {
  width: 85%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-period-wrapper {
  position: relative;
  margin-top: -60px; /* geser naik ke bawah gambar */
}

.card-period {
  width: 33%;
  min-height: 200px;
  padding: 1rem 0;
  border: none;
  background: none;
  transition: transform 0.3s ease;
}

.card-period:hover {
  transform: scale(1.05);
}

.card-period .card-body {
    padding: inherit;
}

.period {
    min-height: 5rem;
}

@media (max-width: 768px) {

   .period-line-img {
      width: 100%;
    }

  .card-period-wrapper {
    align-items: center;
    margin-top: 0;
  }

  .card-period {
    width: 30%;
  }

}

@media (max-width: 764px) {
    .period {
        min-height: 3.5rem;
    }
}

@media (max-width: 468px) {
    .period {
        min-height: 4.5rem;
    }
}

/* Mekanisme */

.card-step {
  background: linear-gradient(to bottom right, rgb(255 255 255 / 30%) 0%, #000000 15%);
  background-repeat: no-repeat;
  border-radius: 1rem;
  padding: 2rem 1rem;
  min-height: 100%;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

@media (max-width: 992px) {
    .card-step {
      padding: 1rem 0.1rem;
    }
}

.step-number {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.9;
}

.step-icon {
  width: 17rem;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));
}

@media (max-width: 992px) {
    .step-icon {
      width: 7rem;
    }
}

.gap-xs {
    gap: 0.1rem !important;
}


.btn-register {
  font-size: 1.3rem;
  padding: 15px 30px 10px 30px;
  border-radius: 9999px;
  background: linear-gradient(to right, #646262 0%, #d3d0d0 100%);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border: none; 
  overflow: hidden; 
}

.btn-register::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50px; 
  background: linear-gradient(to right, #000000 0%, #242933 77%);
  z-index: -1;
}

@media (max-width: 992px) {
    .btn-register {
        font-size: 15px;
    }
}


.rounded-4 {
    border-radius: 1rem !important;
}

.img-tag {
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 57%) 40%, #000000 100%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.judge.img-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.img-wrapper {
  height: 400px;
  overflow: hidden;
  border-radius: 1rem;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.judge img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%; /* atau sesuai kebutuhan */
  display: block;
} 


@media (max-width: 992px) {
    .img-wrapper {
      height: 250px;
      overflow: hidden;
    }

    .judge.img-wrapper {
      height: 200px;
      overflow: hidden;
    }
}



/* Effect zoom out and in */
.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}


@media (max-width: 992px) {
    .p-col-mobile {
        padding: 0 5px !important;
    }
}

.p-col-mobile-desktop {
    padding:0 5px;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}


.bd-highlight {
    min-height: 70px;
}

.fs-prize-title {
    font-size: 35px;
}

@media (max-width: 992px) {
    .fs-prize-title {
        font-size: 20px;
        line-height: 23px;
    }
}

.fs-prize-desc {
    font-size: 22px;
}

@media (max-width: 992px) {
    .fs-prize-desc {
        font-size: 18px;
    }
}


.img-mechanism {
    width: 35%;
}

@media (max-width: 992px) {
    .img-mechanism {
        width: 60%;
    }

}
.fs-desc-mechanism {
    font-size: 22px;
    line-height: 23px;
}

@media (max-width: 992px) {

    .fs-desc-mechanism {
        font-size: 14px;
        line-height: 15px;
    }

}


/* REGISTER PAGE */

.arrow-icon {
    top:50px; right:-25px; color: #167588;
}

.arrow-icon > svg {
    width: 48px;
    height: 48px;
}

@media (max-width: 992px) {
    .arrow-icon {
        top:30px; right:-25px; color: #167588;
    }

    .arrow-icon > svg {
        width: 36px;
        height: 36px;
    }
}

label.fs-label {
    font-size: 18px;
}

@media (max-width: 992px) {
    label.fs-label {
        font-size: 18px;
    }
}

input::placeholder {
    font-family: "vivoSansGlobal-Thin" !important;
}

.form-control {
  width: 100%;
  padding: 9px 20px;
  font-size: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.2); 
  outline: none;
  color: #666;
  font-family: inherit;
  background-color: white;
}


.input-group {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  outline: none;
  overflow: hidden;
}

.custom-prefix {
    background-color: rgb(36, 41, 51);
    color: white;
    padding: 9px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-right: 2px solid rgb(36, 41, 51);
    display: flex;
    align-items: center;
    /*border: 1px solid rgb(36, 41, 51);*/
    /*background-repeat: no-repeat;*/

}

.custom-input {
  border: none;
  flex: 1;
  padding: 9px 20px;
  font-size: 1rem;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  outline: none;
}

.custom-input:focus {
  outline: none;
}

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #354ece;
}


.main-drag-area.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
  align-items: stretch;
}

.upload-box {
  height: 40px;
  padding: 0 1rem;
  border-radius: 50px;
  background: black;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.upload-box span {
  font-size: 14px;
  font-weight: 600;
}

.upload-box:hover {
  background: linear-gradient(90deg, #ffffff 0%, #0d0d0d 100%);
}

.dz-photo-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  color: white;
}


.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}


@media (max-width: 576px) {
  .upload-box {
    width: 100%;
    height: 50px;
    flex-direction: row;
    gap: 8px;
  }
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}
  
.btn-outline-secondary{
    color: #ffffff;
    background-color: rgb(36, 41, 51);
    border-color: rgb(36, 41, 51);
    border: 1px solid rgb(36, 41, 51);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #4160FF;
    border-color: #4160FF;
}

.gj-datepicker-bootstrap button[role=right-icon] .gj-icon, .gj-datepicker-bootstrap button[role=right-icon] .material-icons {
    position: absolute;
    font-size: 21px;
    top: .55rem;
    left: 1.2rem !important;
}

.addmore {
    cursor: pointer;
}

.data-details {
    width: 100%;
    display: grid;
    grid-template-columns: 17fr 3fr;
    justify-content: center;
    align-items: center;
    min-height: 62px;
}

.dz-metadata {
    margin: 15px 0 15px 20px;
    width: 100%;

    .filename {
        font-size: 15px;
        color: black;   
    }

    .filesize {
        font-size: 12px;
        color: grey;
    }
}

.modal-body p {
    margin-bottom: 5px;
    line-height: 20px;
} 

.w-upload-file {
    width: 30%;
}

@media (max-width: 992px) {
    .w-upload-file  {
        width: 50%;
    }
}

.line {
    width: 19px;
    height: 0;
    border: 1.2px solid #ffffff;
    margin: 5px 0.5px;
    display: inline-block;
}


@media (max-width: 992px) {
    .line {
        margin: 4px 0.5px;
    }
}



/* END REGISTER */


.footer {
    background-color: rgba(51, 51, 51);
}

footer p {
    font-size: 12px;
}


.navbar-light .collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4 18L20 18' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M4 12L20 12' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M4 6L20 6' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill='%23ffffff' d='M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


.btn-close {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='Menu / Close_LG'%3E%3Cpath id='Vector' d='M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.modal-header {
    border-bottom: none;
    justify-content: flex-end;
}

.modal-footer {
    border-top: none;
}

.m-w-350 {
    min-width: 380px;
}

.m-w-50jt {
    min-height:310px;
}

@media (max-width: 1479px) {
    .m-w-50jt {
        min-height:250px;
    }
}
@media (max-width: 1070px) {
    .m-w-50jt {
        min-height:200px;
    }
}

@media (max-width: 845px) {
    .m-w-50jt {
        min-height:170px;
    }
}
@media (max-width: 452px) {
    .m-w-50jt {
        min-height:40px;
    }
}

.text-btn-padding {
    padding: 8px 10px 4px 10px;
}

.fs-term-condition-modal {
    font-size: 30px;
    line-height: 30px;
}

@media (max-width: 992px) {
    .fs-term-condition-modal {
        font-size: 23px;
        line-height: 23px;
    }
}

@media (max-width: 414px) {
    .period .card-body {
        padding: 1px;
    }
}
 .new-line {
   margin: 0;
}
@media (max-width: 822px) {
    .new-line {
       display: block;
    }
}



.add-more-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Arial, sans-serif;
}


.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background: linear-gradient(to right, #646262 0%, #d3d0d0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border: none; 
  overflow: hidden; 

}

.circle-btn::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50px; 
  background: linear-gradient(to right, #000000 0%, #242933 77%);
  z-index: -1;
}

.circle-btn:hover {
  background: linear-gradient(90deg, #828282 0%, #525151 100%);
}

.icon-plus {
  width: 24px;
  height: 24px;
}

.add-more-text {
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
}


.svg-checkbox-badge {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.svg-checkbox-badge input[type="checkbox"] {
    display: none;
}

.badge-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.checkmark {
    display: none;
}

.svg-checkbox-badge input[type="checkbox"]:checked + svg .checkmark {
    display: block;
}

.label-text {
    flex: 1;
    font-size: 1rem; /* Bisa disesuaikan */
    line-height: 1.4;
}




.img-responsive-custom {
  width: 70%;
}

@media (max-width: 992px) {
  .img-responsive-custom {
    width: 100%;
  }
}



a {
     -webkit-transition: .3s all ease;
     -o-transition: .3s all ease;
     transition: .3s all ease;
     color: #1089ff;
}

a:hover, a:focus {
     text-decoration: none !important;
     outline: none !important;
     -webkit-box-shadow: none;
     box-shadow: none;
}
button {
     -webkit-transition: .3s all ease;
     -o-transition: .3s all ease;
     transition: .3s all ease;
}
button:hover, button:focus {
     text-decoration: none !important;
     outline: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
}
.img {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}
 .owl-carousel {
     position: relative;
}
 .owl-carousel .owl-item {
     opacity: 1;
}
 .owl-carousel .owl-item.active {
     opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
    top: 40%;
    width: 90%;
    left: 5%;
}

@media (max-width: 992px) {
    .owl-carousel .owl-nav {
        top: 40%;
    }
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
     position: absolute;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     margin-top: -60px;
     color: white !important;
     -webkit-transition: 0.7s;
     -o-transition: 0.7s;
     transition: 0.7s;
     opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
     .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
         -webkit-transition: none;
         -o-transition: none;
         transition: none;
    }
}
 .owl-carousel .owl-nav .owl-prev span:before, .owl-carousel .owl-nav .owl-next span:before {
     font-size: 60px;
}
 .owl-carousel .owl-nav .owl-prev {
     left: 0;
}
 .owl-carousel .owl-nav .owl-next {
     right: 0;
}
 .owl-carousel .owl-dots {
     text-align: center;
     margin-top: 20px;
}
 .owl-carousel .owl-dots .owl-dot {
     width: 10px;
     height: 10px;
     margin: 5px;
     border-radius: 50%;
     background: #fff;
     position: relative;
}
 .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
     outline: none !important;
}
 .owl-carousel .owl-dots .owl-dot.active {
     background: rgba(42,144,190,1);
}
 .owl-carousel:hover .owl-nav .owl-prev, .owl-carousel:hover .owl-nav .owl-next {
     opacity: 1;
}
 .owl-carousel:hover .owl-nav .owl-prev {
     left: -25px;
}
 .owl-carousel:hover .owl-nav .owl-next {
     right: -25px;
}
 .owl-carousel.owl-drag .owl-item {
     -ms-touch-action: pan-y;
     touch-action: pan-y;
}
 .work {
     width: 100%;
}

.work .img .icon {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     background: #fff;
     display: block;
     opacity: 0;
     -webkit-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
     .work .img .icon {
         -webkit-transition: none;
         -o-transition: none;
         transition: none;
    }
}
 .work .text h3 {
     font-size: 18px;
     font-weight: 500;
}
 .work .text h3 a {
     color: #000;
}
 .work:hover .img .icon {
     opacity: 1;
}

.fs-img-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.fs-img-desc {
    font-size: 1rem;
    line-height: 1.4rem;
}

@media (max-width: 992px) {
    .fs-img-title {
        font-size: 18px;
        line-height: 18px;
    }

    .fs-img-desc {
        font-size: 12px;
    }

}
.modal.lightbox-modal {
    padding-top: 5rem;
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 992px) {
    .modal.lightbox-modal {
        padding-top: 7rem;
    }

}

.lightbox-modal .carousel-item img {
    border-radius: 10px;
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

@media only screen and (max-width: 700px) {
    .lightbox-modal .carousel-item {
        padding: 10px;
    }

    .lightbox-modal .carousel-item img {
        max-width: 100%;
        max-height: 480px;
    }
}


.carousel-item {
    transition: none;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.carousel-control-prev, .carousel-control-next {
    justify-content: space-between;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='arrow-ios-back'%3E%3Crect width='24' height='24' transform='rotate(90 12 12)' opacity='0'%3E%3C/rect%3E%3Cpath d='M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='arrow-ios-forward'%3E%3Crect width='24' height='24' transform='rotate(-90 12 12)' opacity='0'%3E%3C/rect%3E%3Cpath d='M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.lightbox-modal .modal-content {
  background-color: var(--lightbox);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
  right: 1.25rem;
}

/*@media (min-width: 1400px) {
  .lightbox-modal .carousel-inner {
    max-width: 60%;
  }
}*/

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .owl-carousel .item img{
        height: 150px;
    }
}

.h-50 {
    min-height: 300px;
}

.loader {
  margin: auto;
  left: 0;
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  border:5px solid;
  border-radius: 50%;
  border-color:#F4F4F4 #F4F4F4 #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.loader::after {
  border-color:#0000 #0000 #E4E4ED #E4E4ED;
  animation-direction: reverse;
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}

.text-capitalize {
    text-transform: capitalize !important;
}

.border-right-gradient-dashed {
  position: relative;
}

.border-right-gradient-dashed::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1.5rem;
  width: 3px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 6px,
    transparent 6px,
    transparent 12px
  );
  /* Gradient dasar */
  mask-image: linear-gradient(to bottom, white 0%, white 100%);
  mask-composite: intersect;
  pointer-events: none;
}

.col-kiri {
  align-self: flex-start; /* tidak ikut tinggi kolom lainnya */
}

@media (max-width: 768px) {
  .border-right-gradient-dashed::after {
    width: 0 !important;
    background: none !important; /* kalau pakai background untuk border */
  }
}

.quest {
    font-size: 1.2rem;
}

.answ {
    font-size: 1rem;
}



